.Box {
  width: 200px;
  height: 60px;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.Detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  align-content: center;
}

.Title {
  font-weight: 700;
  font-size: 14px;
}

.BoxSelected {
  background: rgb(130, 226, 255);
}